//- assumes this is nested with an each/in loop 
//- where line is the current lineItem
select(name=components).select.input--xs
  option(value=null) Not Set 
  each comp in componentsPayload 
    - var oid = comp._id.toString()
    - var vid = lineItem ? (lineItem.component ? lineItem.component._id.toString() : "") : ""
    option(value=comp._id selected=(oid === vid)) (#{comp.component_id}) #{comp.name}
